{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Textbooks</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/textbook-index.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Textbooks</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Textbook</th>
            <th>ISBN</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
            <th>Book Image</th>
          </tr>
        </thead>
        <tbody>
          {% for textbook in textbooks %}
            <tr>
              <td>
                <a href="{% url 'textbooks:textbook_detail' textbook.isbn %}">{{ textbook.title }}</a>
                <small class="text-muted d-block">{{ textbook.description }}</small>
              </td>
              <td><small>{{ textbook.isbn }}</small></td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
              <td><img class="book-image" src="{{textbook.photo_url}}" alt=""></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
