{% extends "textbooks/base.html" %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item active">Textbooks</li>
    </ol>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Title</th>
          <th>ISBN</th>
          <th>Posts</th>
          <th>Topics</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for textbook in textbooks %}
          <tr>
            <td><img class="book-image" src="{{textbook.photo_url}}"></td>
            <td>
              <a href="{% url 'textbooks:textbook_detail' textbook.isbn %}">{{ textbook.title }}</a>
              <small class="text-muted d-block">{{ textbook.description }}</small>
            </td>
            <td><small>{{ textbook.isbn }}</small></td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}
