{% extends "textbooks/base.html" %}

{% block content %}

    <div class="container">

      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">{{textbook.title}} - {{textbook.isbn}}</li>
        <br/>
        <li class="breadcrumb-item active"><em>{{textbook.author}}</em></li>
      </ol>

      <div class>
          <img class="book-image" src="{{textbook.photo_url}}">
          <br/>
          <br/>
      </div>

      <div class="mb-4">
        <a href="{% url 'textbooks:new_exercise' textbook.pk %}" class="btn btn-primary">New exercise</a>
      </div>

      <table class="table">
        <!-- code suppressed for brevity -->
      </table>


      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Section</th>
            <th>Type</th>
            <th>Page</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ textbook.author }}
              <small class="text-muted d-block">{{ textbook.description }}</small>
            </td>
            <td><small>{{ textbook.photo_url }}</small></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td></td>
          </tr>
          {% for exercise in textbook.exercises.all %}
            <tr>
              <td>{{ exercise.exercise_number }}</td>
              <td>{{ exercise.page_number }}</td>
              <td>0</td>
              <td>0</td>
              <td>{{ exercise.last_updated }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}
