{% extends "textbooks/base.html" %}

{% block content %}
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">{{textbook.title}} - {{textbook.isbn}}</li>
        <br/>
        <li class="breadcrumb-item active"><em>{{textbook.author}}</em></li>
      </ol>

      <div class>
          <img class="book-image" src="{{textbook.photo_url}}">
          <br/>
          <br/>
      </div>

      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Section</th>
            <th>Type</th>
            <th>Page</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ textbook.author }}
              <small class="text-muted d-block">{{ textbook.description }}</small>
            </td>
            <td><small>{{ textbook.photo_url }}</small></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}
