{% extends "textbooks/base.html" %}

{% block content %}

    <div class="container">

      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">{{textbook.title}} - {{textbook.isbn}}</li>
        <br/>
        <li class="breadcrumb-item active"><em>{{textbook.author}}</em></li>
      </ol>

      <div class>
          <img class="book-image" src="{{textbook.photo_url}}">
          <br/>
          <br/>
      </div>

      <div class="mb-4">
        <a href="{% url 'textbooks:new_exercise' textbook.pk %}" class="btn btn-primary">New exercise</a>
      </div>




      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Page Number</th>
            <th>Exercise Number</th>
            <th>Starter</th>
            <th>Posts</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>


        {% for exercise in textbook.exercises.all|dictsort:'page_number' %}
          <tr>
            <td>{{ exercise.page_number }}</td>
            <td>{{ exercise.exercise_number }}</td>
            <td>{{ exercise.starter }}</td>
            <td>0</td>
            <td>{{ exercise.last_updated }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>




    </div>
  </body>
{% endblock %}
